appdirs
beautifulsoup4
black
certifi
chardet
chromedriver-binary
chromedriver-binary-auto
click
flake8
idna
isort
lxml
mccabe
mypy-extensions
numpy
pandas
pathspec
pycodestyle
pyflakes
pyproj
python-dateutil
pytz
regex
requests
selenium
six
soupsieve
toml
typed-ast
typing-extensions
urllib3
